#body-container {
    max-width: 800px;
    margin: auto;
}
#classroom-container {
    width: 100%;
    overflow-x: auto;
    display: block;
    border: solid 2px;
    margin: 20px 0;
    padding: 10px;
}
/*#head-info > * > * > td {
    border: solid 1px;
}*/
.classroom-row {
    width: 2360px;
}
.classroom-seat, .classroom-seat-shadowed {
    display: inline-block;
    width: 120px;
    line-height: 1.2;
}
.classroom-seat {
    border: solid 1px;
    border-radius: 3px;
}
.classroom-seat-shadowed {
    /*margin: 1px;*/
}
.best {
    color: brown;
}
.soso {
    color: cornflowerblue;
    display: block;
}
footer {
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}
h1 {
    float: left;
}
#login {
    float: right;
    margin-top: 15px;
}