{% extends 'base.html' %}
{% block title %}占座·挑战{% endblock %}
{% block afterhead %}
    {% if login.login %}
        <script>'use strict';
$(function() {
    for (let x = 0; x < 19; x++) {
        for (let y = 0; y < 19; y++) {
            const div_id = '#classroom-seat-' + x + '-' + y;
            let idiotCount = 0;
            $(div_id).click(function () {
                alert('正在操作……');
                $.getJSON('/choose', {
                    'x': x, 'y': y, 'n': '{{ login.name }}'
                }, function(req) {
                    if (req['status'] === 0) {
                        const the_div = div_id +
                            (req['type'] === 'best' ? '>.best' : '>.soso');
                        const displayString =
                                req['action'] === 'add' ? '被你选了' : '被你删了';
                        $(the_div).html(displayString);
                        alert('操作成功');
                    }
                    else {
                        if (idiotCount < 10) {
                            alert('妈的智障');
                            idiotCount++;
                        }
                        else {
                            // 1st Easter Egg!
                            location.href = 'http://www.moj.gov.cn';
                        }
                    }
                })
            })
        }
    }
});
        </script>
    {% endif %}
{% endblock %}
{% block beforeheadinfo %}
<h1>占座·挑战</h1>
<div>
    <a class="btn btn-success btn-lg" id="login" href="/login">
        {% if not login.login %}登录{% endif %}
        {% if login.login %}重新登录{% endif %}
    </a>
</div>
{% endblock %}
{% block body %}
<hr />
<div id="classroom-container">
    {% for row in seatmap %}
        <div class="classroom-row">
            {% for seat in row %}
                {% if seat.shadowed %}
                    <div class="classroom-seat-shadowed"></div>
                {% endif %}
                {% if not seat.shadowed %}
                    <div class="classroom-seat"
                         id="classroom-seat-{{ seat.x }}-{{ seat.y }}">
                    X: {{ seat.x }} Y:{{ seat.y }}
                        <div class="best">
                            {{- seat.best -}}
                        </div>
                        <div class="soso">
                            {{- seat.soso -}}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
<hr />
<p>红色:理想位置;蓝色:勉强位置.</p>
<p>点一下选择,再点一下取消,再点一下关爱智zh……</p>
<p>红的最多一个,蓝的最多三个.</p>
<hr />
{% endblock %}
