<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>占座·挑战</title>
    <style>
        #classroom-container {
            width: 100%;
            overflow-x: auto;
            display: block;
        }
        .classroom-row {
            width: 3000px;
        }
        .classroom-seat {
            display: inline-block;
            /*float: left;
            */width: 120px;
        }
        .best {
            color: brown;
        }
        .soso {
            color: cornflowerblue;
            display: block;
        }
    </style>
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="../static/choose.js"></script>
</head>
<body>
<h1>占座·挑战</h1>
<div id="head-info">
    这里有一些关于课程的基本信息.
</div>
<div id="classroom-container">
    {% for row in seatmap %}
        <div class="classroom-row">
            {% for seat in row %}
                {% if seat.shadowed is odd %}
                {% endif %}
                {% if seat.shadowed is even %}
                    <div class="classroom-seat"
                         id="classroom-seat-{{ seat.x }}-{{ seat.y }}">
                        X:{{ seat.x }} Y:{{ seat.y }}
                        <div class="best">
                            BEST:{{- seat.best -}}
                        </div>
                        <div class="soso">
                            SOSO:{{- seat.soso -}}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
<div id="foot-info">
    这里是一些关于占座系统的信息.
</div>
<footer>
    这里是版权信息.
</footer>
</body>
</html>