<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

    {% block afterhead %}{% endblock %}

</head>
<body>
<div id="body-container">
{% block beforeheadinfo %}{% endblock %}

{% if lesson %}
<table id="head-info" class="table table-striped">
    <tr>
        <td>上课时间</td>
        <td>{{ lesson.time }}</td>
    </tr>
    <tr>
        <td>科目</td>
        <td>{{ lesson.subject }}</td>
    </tr>
    <tr>
        <td>地点</td>
        <td>{{ lesson.location }}</td>
    </tr>
    <tr>
        <td>教师</td>
        <td>{{ lesson.teacher }}</td>
    </tr>
    <tr>
        <td>占座截止</td>
        <td>{{ lesson['closing data'] }}</td>
    </tr>
    <tr>
        <td>系统状态</td>
        <td>
            {% if lesson.status == 'boarding' %}
                正在登机
            {% endif %}
            {% if lesson.status == 'stop boarding' %}
                停止登机
            {% endif %}
        </td>
    </tr>
</table>
{% endif %}

{% block body %}{% endblock %}

{% if system %}
<table id="foot-info" class="table table-striped">
    <tr>
        <td>当前版本</td>
        <td>{{ system.version }}</td>
    </tr>
    <tr>
        <td>新特性</td>
        <td>
            <ul>
                {% for feat in system.feature %}
                    <li>{{ feat }}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
</table>
{% endif %}
<p><strong>以下言论的最终解释权……死心吧我这么懒才不会解释呢</strong></p>
<ul>
    <li>弹出"正在处理"的时候起始并没有在处理,要等到你点了确定才处理.我知道这个很蠢,包括弹框本身也很蠢,之后就改.</li>
    <li>这个网站使用flask作为后端,前端使用和借鉴了bootstrap,对他们表示感谢……并且没脸说这么丑的东西是还用了bootstrap.稍后会改.[后来我改了改……就这样吧不然?]</li>
    <li>等我把项目传到github上以后在<a href="https://github.com/hxptls/P0016" >这里</a>贴地址.</li>
    <li>座位分配算法在另一个项目里,同样传到github上再说.</li>
</ul>
<hr />
</div>
<footer>
    &copy; 2016 六瓣 版权所有 不得侵犯
</footer>
</body>
</html>